<template>
    <div class="index">
        <van-nav-bar left-text="返回" left-arrow title="登录" @click-left="onClickLeft" />
        <van-form @submit="onSubmit">
            <van-field v-model="username" name="用户名" placeholder="手机号"
                :rules="[{ required: true, message: '请填写用户名' }]" />
            <div class="ma">
                <van-field v-model="password" type="password" name="密码" placeholder="验证码"
                    :rules="[{ required: true, message: '请填写验证码' }]" style="width: 66%" />
                <van-button>获取验证码</van-button>
            </div>
            <div class="deng" style="margin: 16px;">
                <van-button block type="info" native-type="submit">
                    登录
                </van-button>
            </div>
        </van-form>
        <div class="footer">
            <span>密码登录</span>
            <span>
                <van-icon name="https://b.yzcdn.cn/vant/icon-demo-1126.png" style="font-size:30px" />
            </span>
            <span>找回密码 | 注册账号</span>
        </div>
    </div>
</template>
<script>
export default {
    data () {
        return {
            username: '',
            password: '',
        };
    },
    methods: {
        onClickLeft () {
        },
        onSubmit (values) {
            console.log('submit', values);
        },

    },
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/common.scss";
.index {
    width: 100%;
    height: 100%;
    .van-form {
        margin-top: px2rem(120);
        .van-field {
            border: px2rem(1) solid #988286;
            margin-top: px2rem(10);
            width: 90%;
            margin-left: px2rem(18);
        }
        .ma {
            display: flex;
            flex-direction: row;
            .van-button {
                background-color: #983d38;
                color: white;
                margin-top: px2rem(11);
                border: none;
            }
        }
        .deng {
            .van-button {
                background-color: #983d38;
                margin-top: px2rem(60);
            }
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            margin-top: px2rem(40);
        }
    }
}
</style>