<template>
    <div class="index">
        <van-nav-bar left-text="返回" left-arrow title="注册" @click-left="onClickLeft" />

        <van-form @submit="onSubmit" ref="ruleForm">
            <!-- <template slot-scope="scope"> -->
            <van-field v-model="mobile" name="手机号" placeholder="手机号" :rules="[{ required: true, message: '请填写手机号' }]" />
            <van-field v-model="pwd" name="登录密码" placeholder="登录密码" mask type="password"
                :rules="[{ required: true, message: '请填写登录密码' }]" />
            <div class="ma">
                <van-field v-model="code" name="验证码" placeholder="验证码" style=" width: 63.5%" />
                <van-button @click="handleSendMsg(mobile)" :disabled="btnDisabled">{{btnMsg}}</van-button>
            </div>
            <van-field v-model="invite" name="邀请码" placeholder="邀请码 (非必填)" />
            <div class="deng" style="margin: 16px;">
                <van-button block type="info" native-type="submit">
                    注册
                </van-button>
            </div>
            <!-- </template> -->
        </van-form>
    </div>
</template>
<script>
import { postMsgApi, } from '@/api'

export default {
    data () {
        return {
            username: '',
            pwd: '',
            mobile: '',
            invite: '',
            code: '',
            btnDisabled: false,
            btnMsg: '获取验证码',
            btnNum: 60,
            btnT: null,
        };
    },
    methods: {
        //验证码接口

        //获取验证码
        handleSendMsg (mobile) {
            console.log(mobile)
            // this.$refs.ruleForm.validate((valid) => {
            //     if (valid) {
            this.btnDisabled = true,
                // 倒计时
                this.btnT = setInterval(() => {
                    if (this.btnNum === 0) {
                        // 1. 变成获取验证码
                        // 2. 激活按钮
                        // 3. 清除定时器
                        this.btnMsg = '获取验证码',
                            this.btnDisabled = false,
                            clearInterval(this.btnT)
                        return 0
                    } this.btnNum--
                    this.btnMsg = `重新获取（${this.btnNum}）`
                }, 1000)

            postMsgApi({ mobile })
                .then(res => {
                    console.log(res)
                    if (res.meta.state === 201) {
                        alert(res.meta.msg)
                        // this.$message.success(res.meta.msg)
                    } else {
                        // this.$message.error(res.meta.msg)
                        alert(res.meta.msg)
                    }
                })
            // } else {
            //     this.$Message.error('Fail!');
            // }
            // })
        },
        onClickLeft () {
        },
        onSubmit (values) {
            console.log('submit', values);
        },

    },
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/common.scss";
.index {
    width: 100%;
    height: 100%;
    .van-form {
        margin-top: px2rem(120);
        .van-field {
            border: px2rem(1) solid #988286;
            margin-top: px2rem(10);
            width: 90%;
            margin-left: px2rem(18);
        }
        .ma {
            display: flex;
            flex-direction: row;
            .van-button {
                width: px2rem(100);
                background-color: #983d38;
                color: white;
                margin-top: px2rem(11);
                border: none;
            }
        }
        .deng {
            .van-button {
                background-color: #983d38;
                margin-top: px2rem(60);
            }
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            margin-top: px2rem(40);
        }
    }
}
</style>