<template>
    <div class="index">
        <van-nav-bar left-text="返回" left-arrow title="登录" @click-left="onClickLeft" />
        <van-form @submit="onSubmit">
            <van-field v-model="uname" name="用户名" placeholder="用户名/手机号"
                :rules="[{ required: true, message: '请填写用户名' }]" />
            <van-field v-model="pwd" type="password" name="密码" placeholder="密码"
                :rules="[{ required: true, message: '请填写密码' }]" />
            <div style="margin: 16px;">
                <van-button block type="info" native-type="submit">
                    登录
                </van-button>
            </div>
        </van-form>
        <div class="footer">
            <span>验证码快捷登录</span>
            <span>
                <van-icon name="https://b.yzcdn.cn/vant/icon-demo-1126.png" style="font-size:30px" />
            </span>
            <span>找回密码 | 注册账号</span>
        </div>
    </div>
</template>
<script>
import { postLoginApi } from '@/api'
export default {
    data () {
        return {
            uname: '',
            pwd: '',
        };
    },
    methods: {
        onClickLeft () {
        },
        onSubmit () {
            // console.log('submit', values);
            postLoginApi({
                uname: this.uname,
                pwd: this.pwd,
                captcha: '1234',
            }
            )
                .then(res => {
                    if (res.meta.state === 200) {
                        alert(res.meta.msg)
                        localStorage.setItem('uname', res.data.uname)
                        localStorage.setItem('token', res.data.token)
                        this.$router.push({ path: '/My' })

                        // this.$message.success(res.meta.msg)
                    } else {
                        // this.$message.error(res.meta.msg)
                        alert(res.meta.msg)
                    }
                })
        },

    },
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/common.scss";
.index {
    width: 100%;
    height: 100%;
    .van-form {
        margin-top: px2rem(120);
        .van-field {
            border: px2rem(1) solid #988286;
            margin-top: px2rem(10);
            width: 90%;
            margin-left: px2rem(18);
        }
        .van-button {
            background-color: #983d38;
            margin-top: px2rem(60);
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            margin-top: px2rem(40);
        }
    }
}
</style>